[Desktop Entry]
Name=arunlinux Welcome
Comment=Welcome Center for arunlinux
Exec=arun-welcome
Icon=emblem-favorite
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=welcome;setup;arunlinux;
